.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;



    .s_space_view {
        min-height: 70px;
        max-height: 70px;
        width: 100%;
        border-bottom: 2px solid #21252964;

    }

    .s_navigation {
        height: calc(100vh - 191px);
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .s-title {
            width: 85%;
        }

        .chip {
            padding: 3px 8px;
            color: white;
            font-weight: bold;
            font-size: 12px;
            background-color: #6C757D;
            border-radius: 40%;
        }

        .navs {
            width: 100%;

            .ntitle {
                margin: 5px 30px;
            }

            .navItems {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                border-radius: 5px;
                margin: 0px 20px;
                padding: 5px 10px;

                &:hover {
                    background-color: #E7F1FF;
                    color: #0D6EFD;
                }
            }

            .navItemsactive {
                background-color: #d7e8ff;
                color: #0D6EFD;
            }
        }

    }

    .s_footer {
        min-height: 35px;
        max-height: 35px;
        width: 100%;
        border-top: 2px solid #21252964;
        background-color: #E9ECEF;

        .h_line {
            width: 1px;
            height: 70%;
            background-color: #CED4DA;
        }
    }

    .s_footer_none {
        min-height: 35px;
        max-height: 35px;
        width: 100%;
    }
}