$primary--color: #06c;
$secondary--color: #0059b3;

// $primary--color: rgb(204, 0, 0);
// $secondary--color: #b30000;

$primary--color--footer: #06c;
$secondary--color--footer: #0059b3;

// dark--footer
// $primary--color--footer: #202a2e;
// $secondary--color--footer: #202a2e;



.btn-primary {
    background-color: $primary--color;

    &:hover {
        background-color: $secondary--color;
    }
}