$--bs-gray-100: #f2f2f2;
$--bs-gray-200: #e9ecef;
$--bs-gray-300: #dee2e6;
$--bs-gray-400: #ced4da;
$--bs-gray-700: #495057;
$--bs-gray-800: #3c4248;
$--bs-body-color: #212529;


$--bs-white: #ffffff;
$--bs-light: #f8f9fa;